node_modules
# Keep environment variables out of version control
.env
.env.local
.env*.local

/generated/prisma

# Vercel
.vercel

# Local database
*.db
*.db-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

.vercel
